# .gitignore

# Node modules folder
node_modules/

# Environment variables
.env

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Just to be safe build artifact folders you don’t want to commit
dist/
build/

# Just to be safe
.DS_Store
.idea/
.vscode/

.git/

package-lock.json

LICENSE

output.txt

images/
temp/

current_files.txt
output.txt

gather_files.py
merits_to_db/
favicon.ico
