ul {
    margin-left: 3em;
}

.upload-option {
    margin: 1em;
    padding: 1em;
    padding-left: 4em;
    padding-right: 4em;
    border: solid black 5px;
    border-radius: 10px;
}

h4, h5 {
    font-size: larger;
    text-align: center;
    margin-bottom: 1em;
}

h5 {
    font-size: large;
    text-align: left;
}